@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
}

h1{
    display: inline;
    background-color: rgb(122, 122, 252);
    padding: 40px;
}
hr{
    margin-top: 40px;
    border: none; 
    height: 3px; 
    background-color: black;
}
h2{
    font-weight: lighter;
    font-size: xx-large;
}
h3{
    font-weight: lighter;
    font-size: x-large;
}